@using EmpeekTask.Entity
@{
    string path = ViewBag.Path;
    List<FolderData> data = ViewBag.Data;
}
<div class="info">
    @path
    <br />
    @foreach (var i in data)
    {
        for (int j = 0; j < i.Level; ++j)
        {
            <span>&nbsp;</span>
        }
        <img src="~/fonts/folder.jpg" class="folder" />
        @i.Name
        <br />
        foreach (var f in i.Files)
        {
            for (int k = 0; k < f.Level; ++k)
            {
                <span>&nbsp;</span>
            }
            <img src="~/fonts/file.jpg" class="files" />
            @f.Name
            <br />
        }
    }
</div>
<div class="filesNumber">
    <table>
        <thead>
            <tr>
                <th class="head">Less 10Mb</th>
                <th class="head">10Mb - 50Mb</th>
                <th class="head">More 100Mb</th>
            </tr>
        </thead>
        <tbody>
            @Html.Partial("TableFiles")
        </tbody>
    </table>
</div>
